<ng-template #defaultProductTemplate let-product>
  <ion-card class="product">
    <img class="product__image" alt="Silhouette of mountains" [src]="product.imagenes[0].url" />

    <ion-card-header class="product__info">
      <ion-card-title>
        {{ product.nombre | titlecase }}
      </ion-card-title>
      <ion-card-subtitle>
        {{ product.precio }} COP
        {{ product.descripcion}}
      </ion-card-subtitle>
    </ion-card-header>
  </ion-card>
</ng-template>

<ng-container
[ngTemplateOutlet]="productTemplate || defaultProductTemplate"
[ngTemplateOutletContext]="{ $implicit: product }"
></ng-container>