.product{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    margin-top: .5rem;
}

.product__image{
    margin: .3rem;
    object-fit: cover;
    width: 45%;
}

.product__info{
    width: 55%;
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
}