ion-card-header{
    --background: #f1eded;
    --color: #000000;
    border: none;
    box-shadow: none;
}

ion-grid, ion-row, ion-col {
    background-color: #f1eded;
    border: none;
    box-shadow: none;
}