.search-bar{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar__input{
    flex: 70;
    display: flex;
    justify-content: center;
    align-items: center;
}



.search-bar__filter{
    padding-left: .5rem;
    flex: 30;
}