input {
    border: none;
}


.search-bar{
    margin-top: 35%;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar__input{
    background-color: white;
    padding: 0 .8rem 0 .8rem;
    width: 75%;
    height: 2rem;
    border-radius: 1rem;
}

.search-bar__input::placeholder{
    color: #ccc;
    text-align: center;
}


.product-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    padding: 1rem;
}