.search-bar{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar__input{
    flex: 70;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar__filter{
    flex: 30;
}

ion-card{
    padding: .1rem;
    margin: 0.5rem;
    background-color: transparent;
}


ion-card-header{
    padding: .2rem;
}

ion-card-title{
    font-size: 1.1rem;
}

.product-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    padding: 1rem;
}