ion-content {
    margin-top: 8.5rem;
    max-height: 90%;
    padding: 0;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 8.5rem 0 1.5rem 0;
}

.address {
    font-size: 1rem;
    font-weight: bold;
    text-overflow: ellipsis;
    justify-content: center;
    align-items: center;
    display: flex;

}

.products-list,
.total-price {
    width: 100%;
}

.products-list {
    height: 53%;
    overflow-y: scroll;
}

.total-price {
    max-height: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.total-price p {
    font-size: 1.5rem;
    font-weight: bold;
}