<div class="product-images">
   <img src="https://images.pexels.com/photos/268533/pexels-photo-268533.jpeg?cs=srgb&dl=pexels-pixabay-268533.jpg&fm=jpg" class="product-images__selected-image"/>
<div class="product-images__grid">
    <img src="https://images.pexels.com/photos/268533/pexels-photo-268533.jpeg?cs=srgb&dl=pexels-pixabay-268533.jpg&fm=jpg" class="product-images__grid__image"/>
    <img src="https://images.pexels.com/photos/268533/pexels-photo-268533.jpeg?cs=srgb&dl=pexels-pixabay-268533.jpg&fm=jpg" class="product-images__grid__image"/>
    <img src="https://images.pexels.com/photos/268533/pexels-photo-268533.jpeg?cs=srgb&dl=pexels-pixabay-268533.jpg&fm=jpg" class="product-images__grid__image"/>
  </div>
</div>

<div class="product-info">
  <div class="product-info__title">
    <p>Product Title</p>
  </div>
  <div class="product-info__description">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro eos ullam sunt quia fugiat, accusamus voluptates incidunt? Facilis ea temporibus</p>
  </div>
  <div class="product-info__add-to-cart">
    <p class="product-info__add-to-cart__price">$100</p>
    <button class="product-info__add-to-cart__button">Add to cart</button>
  </div>
</div>